<!-- head/header.html -->
<header>
    <h1>BOTIGA</h1>
    <nav>
      <ul>
        <li><a href="{% url 'dashboard' %}">Inicio</a></li>
        <li><a href="{% url 'usuarios:modify' %}">Gestión de Usuario</a></li>
        
        <!-- Mostrar 'Login' solo si el usuario no está autenticado -->
        {% if not request.user.is_authenticated %}
        <li><a href="{% url 'usuarios:login' %}">Login</a></li>
        {% endif %}
        
        <!-- Mostrar 'Logout' solo si el usuario está autenticado -->
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'usuarios:logout' %}">Logout</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  