{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'styles/header.css' %}">
  {% block css %}
  {% if is_modify_view %}
  <link rel="stylesheet" href="{% static 'styles/userManagement.css' %}">
  {% endif %}
  {% if not request.user.is_authenticated %}
  <link rel="stylesheet" href="{% static 'styles/userForm.css' %}">
  {% endif %}
  {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOTIGA</title>
</head>
<body>  
  {% block content %}
  {% endblock %}
</body>
</html>