{% extends 'base.html' %}

{% block content %}
{% include 'head/header.html' %}
<div class="container">
    <h2>Modificar Usuario</h2>

    <!-- Mostrar mensajes de éxito o error -->
    {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Formulario para modificar información del usuario -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- Contenedor de botones con flexbox -->
        <div class="button-container">
            <div>
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancelar</a>
            </div>
            <!-- Formulario para eliminar cuenta -->
            <form method="post" class="inline-form">
                {% csrf_token %}
                <button type="submit" name="confirm" value="yes" class="btn btn-danger">Eliminar cuenta</button>
            </form>
        </div>
    </form>
</div>
{% endblock %}
